/*******************
      IMPORTS
*******************/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/********************
      Colors
*********************/
/********************
       Fonts
*********************/
/********************
        Base
*********************/
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  overflow-x: hidden; }

.container {
  max-width: 81.25em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

/************************
        GENERAL
************************/
*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body a {
  text-decoration: none; }

button, .fa {
  cursor: pointer; }

.header-bar {
  background-color: #80c5c5;
  height: 66px; }

.logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  width: 65px;
  margin-left: 0;
  padding: 3px;
  background-color: #50a4a4; }
  .logo:last-child {
    margin-right: 0; }

.dob-date,
.dob-container,
.age-container,
.age-number,
.gender {
  color: white;
  vertical-align: top;
  margin-top: 18px;
  font-size: 1.5em; }

.dob-date,
.age-number {
  font-size: 1em; }

.patient-name {
  color: white;
  font-size: 2.5em;
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  width: 21%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .patient-name:last-child {
    margin-right: 0; }

.dob-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .dob-container:last-child {
    margin-right: 0; }

.age-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .age-container:last-child {
    margin-right: 0; }

.gender {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .gender:last-child {
    margin-right: 0; }

.fa-print {
  border-left: 2px solid #50a4a4;
  border-right: 2px solid #50a4a4; }

.icons {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline-block;
  text-align: center;
  padding: 3px;
  float: right; }
  .icons:last-child {
    margin-right: 0; }

.icons > .fa {
  color: #50a4a4;
  font-size: 2.5em;
  display: inline-block;
  padding: 10px; }

.fa-angle-double-left {
  padding: 0; }

i.fa.fa-align-justify {
  padding-left: 0; }

i.fa.fa-angle-double-left {
  padding-right: 0; }

i.fa.fa-print {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px; }

i.fa.fa-share-square-o {
  margin-left: 10px; }

.icons:last-child {
  margin-right: -25px; }

/*************************************
            Chronic Box
**************************************/
.chronic-box {
  max-width: 81.25em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  height: 274px;
  border: 1px solid #ccc;
  margin-top: 48px; }
  .chronic-box::after {
    clear: both;
    content: "";
    display: table; }
  .chronic-box:last-child {
    margin-right: 0; }

.title-box {
  border-bottom: solid 1px #ccc;
  height: 42px;
  background-color: #f1f9fb;
  padding: -11px;
  margin-top: -6px; }

.title-box > p {
  font-size: 1.6em;
  margin-left: 12px;
  margin-top: 6px;
  padding-top: 3px;
  display: block;
  background-color: #f1f9fb; }

.timer-name {
  text-align: center; }

#controls {
  text-align: center; }

.fa-plus-circle {
  font-size: 1.2em;
  display: inline-block;
  float: right;
  padding: 5px; }

.title-words {
  padding: 18px;
  font-size: 1.4em;
  text-style: bold;
  font-weight: 500; }

/***********************
     Conditions List
************************/
.tag-wrapper {
  text-align: center;
  border-radius: 5px; }

.tag {
  display: inline-block;
  position: relative;
  margin: 5px 10px 5px 0; }

.tag input {
  opacity: 0;
  position: absolute;
  z-index: 300;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%; }

.tag input:hover + label {
  background: gray; }

.tag label {
  padding: 7px 34px 6px 18px;
  position: relative;
  z-index: 200;
  color: white;
  display: block;
  border-radius: 16px;
  background: #80c5c5;
  -webkit-transition: all 0.08s ease-in;
  transition: all 0.08s ease-in; }

.tag .fa {
  position: absolute;
  z-index: 250;
  right: 11px;
  top: 9px;
  color: white;
  line-height: 0.95; }

@-webkit-keyframes flick {
  60% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes flick {
  60% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/***********************
    Enrollment Items
************************/
.status,
.CCM {
  color: #50a4a4;
  font-weight: 700; }

.enrollment-title,
.status-title,
.months-title,
.follow-up-title {
  width: 50%;
  display: inline;
  font-size: 1.2em; }

.enrollment-title,
.follow-up-title {
  float: right; }

.status-container {
  padding: 10px;
  margin-left: 12px; }

.status-enrollment-container {
  padding: 12px;
  margin-left: 10px; }

/***********************
       Timer Box
************************/
.timer-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 55.21853%;
  height: 274px;
  border: 1px solid #ccc;
  margin-top: 48px;
  margin-right: 0;
  float: right;
  margin-right: 0; }
  .timer-box:last-child {
    margin-right: 0; }

#time {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  border: 1px solid #ccc;
  width: 141px;
  height: 53px; }
  #time:last-child {
    margin-right: 0; }

.column-1,
.column-2,
.column-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  text-align: center; }
  .column-1:last-child,
  .column-2:last-child,
  .column-3:last-child {
    margin-right: 0; }

.column-2 {
  width: 255px; }

#hours,
#minutes,
#seconds {
  font-size: 2.5em;
  font-weight: 200; }

div#time {
  text-align: center;
  margin: 19px 19px 19px 36px; }

.timer-colon {
  font-size: 2em;
  display: inline;
  padding: 2px;
  position: relative;
  bottom: 4px; }

#start_pause_resume,
#reset {
  height: 70px;
  width: 70px;
  border: 1px solid #ccc;
  border-radius: 100%;
  color: #50a4a4;
  background-color: white;
  font-size: 1em; }

#total-minutes,
#total-seconds {
  font-size: 3.1em;
  font-weight: 200; }

.total-time-amount {
  text-align: center;
  margin-left: -6px;
  margin-top: 69px; }

.total-timer-colon {
  font-size: 2em;
  display: inline;
  padding: 2px;
  position: relative;
  bottom: 4px; }

@keyframes ripple {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px #80c5c5, 0 0 10px 10px red, 0 0 0 10px #50a4a4; }
  100% {
    box-shadow: 0 0 0 2px #80c5c5, 0 0 10px 10px red, 0 0 0 10px #50a4a4;
    transform: scale(1.2);
    opacity: 0; } }
#start_pause_resume:hover:after {
  animation: ripple 1.3s ease-out 75ms; }

#start_pause_resume:after {
  width: 100px;
  height: 100px;
  top: -95px;
  left: -5px;
  transform: scale(0.9);
  box-shadow: 0 0 0 2px #fff;
  opacity: 0; }

/**********************
      DatePicker
***********************/
input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
  cursor: pointer; }

#datepicker {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Calendar_font_awesome.svg/20px-Calendar_font_awesome.svg.png") no-repeat;
  background-position-x: 4px;
  background-position-y: 4px; }

#ui-datepicker-div {
  background-color: #80c5c5;
  border-radius: 15px; }

.ui-datepicker-title {
  color: white; }

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
  text-align: center; }

td {
  color: white; }
  td a.ui-state-default {
    color: white; }

th > span {
  color: #50a4a4; }

input {
  text-indent: 55px;
  font-size: 1.2em;
  color: #50a4a4;
  font-weight: 300; }

table.ui-datepicker-calendar {
  padding: 15px; }

#ui-datepicker-div {
  padding-left: 15px;
  padding-right: 15px;
  z-index: -999;
  color: transparent; }

.datepicker-paragraph {
  margin-top: 3px; }

input#datepicker {
  border: 0;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 3px; }

/************************
    Selects
************************/
.dropdown {
  line-height: 1em; }
  .dropdown .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center; }
  .dropdown .dropdown-description {
    background: white;
    border-bottom-left-radius: 3px;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-top-left-radius: 3px;
    border-top: 1px solid silver;
    color: #999999;
    float: left;
    font-size: 0.7em;
    line-height: 40px;
    margin: 0;
    padding: 0 0.5em 0 1em; }
    @media screen and (min-width: 53.75em) {
      .dropdown .dropdown-description {
        font-size: 0.85em; } }
  .dropdown .dropdown-button {
    background: white;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    cursor: pointer;
    float: right;
    font-size: 0.8em;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative; }
    @media screen and (min-width: 53.75em) {
      .dropdown .dropdown-button {
        font-size: 0.8em;
        padding: 0 2.5em 0 0.5em; } }
  .dropdown .dropdown-button:hover {
    background-color: #f7f7f7; }
  .dropdown .dropdown-button:after {
    color: #333;
    content: "\25BE";
    display: block;
    position: absolute;
    right: 1em;
    top: 0; }
  .dropdown .dropdown-menu {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: white;
    border-radius: 3px;
    border: 1px solid silver;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50px;
    width: 228px;
    z-index: 99999; }
    .dropdown .dropdown-menu:before {
      position: absolute;
      top: 0;
      right: 1em;
      bottom: 0;
      left: 0;
      color: white;
      content: "\25b2";
      font-size: 0.8em;
      pointer-events: none;
      text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
      top: -0.7em; }
  .dropdown .dropdown-menu li {
    border-bottom: 1px solid silver;
    color: #333;
    list-style: none;
    padding: 0.5em; }
  .dropdown .dropdown-menu li:hover {
    background: #f7f7f7; }
  .dropdown .dropdown-menu li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .dropdown .dropdown-menu li:last-child {
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .dropdown .show-menu {
    display: block; }

.dropdown {
  line-height: 1em;
  padding-bottom: 9px; }

.dropdowns {
  text-align: left;
  padding-top: 16px; }

/************************
      More General
************************/
.log-time-button {
  height: 40px;
  width: 120px;
  background-color: #50a4a4;
  color: white;
  font-size: 1em;
  border: 0;
  border-radius: 5px; }

button:focus {
  outline: 0;
  box-shadow: none; }

/************************
      Nav Boxes
************************/
.nav-boxes {
  height: 55px;
  max-width: 81.25em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 35px; }
  .nav-boxes::after {
    clear: both;
    content: "";
    display: table; }
  .nav-boxes:last-child {
    margin-right: 0; }

.box-1,
.box-2,
.box-3,
.box-4 {
  display: inline-block;
  border: solid 1px #ccc;
  background-color: #f1f9fb;
  text-align: center;
  font-size: 0.99em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 20px;
  font-family: "Open Sans", serif; }
  .box-1:last-child,
  .box-2:last-child,
  .box-3:last-child,
  .box-4:last-child {
    margin-right: 0; }

/************************
    Monthly Progress
************************/
.monthly-progress {
  height: 2730px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 40px;
  margin-right: 0; }
  .monthly-progress:last-child {
    margin-right: 0; }

.monthly-rec {
  height: 2730px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 40px;
  margin-right: 0; }
  .monthly-rec:last-child {
    margin-right: 0; }

.left-column-1,
.right-column-1 {
  height: 2730px;
  display: inline;
  background-color: #f2f2f2;
  border: solid 1px #ccc;
  margin-right: 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 47.96819%;
  margin: 0 0 10px; }
  .left-column-1:last-child,
  .right-column-1:last-child {
    margin-right: 0; }

.lower-title-boxes {
  height: 55px; }

p.lower-titles {
  position: relative;
  top: 7px;
  padding-left: 14px; }

.initial-date {
  font-size: 1.5em;
  padding: 0;
  margin: 28px; }

.fa-check,
.fa-pencil {
  float: right;
  margin: 8px 20px 8px 8px;
  position: relative;
  bottom: 3px; }

.fa-pencil {
  color: darkorange; }

.fa-check {
  color: green; }

/************************
       Blue-Boxes
************************/
.blue-box {
  background-color: white;
  margin: 20px;
  height: 143px;
  border: 1px solid #ccc; }

.blue-box-title {
  background-color: #f1f9fb;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  height: 45px;
  padding-left: 15px;
  padding-top: 8px; }

.editable > p {
  margin-left: 15px; }

/************************
     Right Column 1
************************/
.right-column-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 47.96819%;
  margin: 0 20px 20px;
  margin-right: 0;
  float: right; }
  .right-column-1:last-child {
    margin-right: 0; }

.lower-title-boxes {
  text-align: left; }

.white-container {
  margin: 20px;
  height: 2570px;
  background-color: white;
  margin-top: 72px;
  border: 1px solid #ccc;
  border-top: none; }

.tabs {
  height: 95px;
  display: inline-block;
  margin-top: 30px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-left: 20px; }
  .tabs:last-child {
    margin-right: 0; }

.tab-1,
.tab-2,
.tab-3 {
  display: inline-block;
  height: 43px;
  text-align: center;
  padding: 14px;
  position: relative;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  cursor: pointer; }

.save-button {
  background-color: #50a4a4;
  height: 35px;
  width: 80px;
  color: white;
  font-size: 1em;
  border: 0;
  border-radius: 5px;
  margin-left: 22px; }

.lower-datepicker,
.lower-dropdowns {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  text-align: center; }
  .lower-datepicker:last-child,
  .lower-dropdowns:last-child {
    margin-right: 0; }

.lower-dropdowns {
  width: 255px; }

.updates {
  margin-top: 30px;
  height: 195px; }

.fa-check-circle.one {
  position: relative;
  bottom: 30px;
  font-size: 1.5em;
  right: -56px;
  background-color: white;
  border-radius: 100%;
  color: #50a4a4;
  z-index: 2;
  fill-opacity: 1;
  float: center; }

.fa-check-circle.two {
  position: relative;
  bottom: 30px;
  font-size: 1.5em;
  right: -76px;
  background-color: white;
  border-radius: 100%;
  color: #50a4a4;
  z-index: 2;
  fill-opacity: 1; }

.fa-check-circle.three {
  position: relative;
  bottom: 51px;
  font-size: 1.5em;
  right: -151px;
  background-color: white;
  border-radius: 100%;
  color: #50a4a4;
  z-index: 2;
  fill-opacity: 1; }

.fa-check-circle.four {
  position: relative;
  bottom: 30px;
  font-size: 1.5em;
  right: -31px;
  background-color: white;
  border-radius: 100%;
  color: #50a4a4;
  z-index: 2;
  fill-opacity: 1; }

.box-3 {
  height: 67px; }

.based-paragraph {
  margin: 20px;
  font-size: 1.1em; }

/************************
    Page-3 Left Column
************************/
.page-3-dropdowns {
  margin-top: 24px; }

.select-dropdown {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: relative;
  background-color: white;
  width: auto;
  float: left;
  border-radius: 2px; }
  .select-dropdown:last-child {
    margin-right: 0; }
  .select-dropdown select {
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 580px; }
    .select-dropdown select:active, .select-dropdown select:focus {
      outline: none;
      box-shadow: none; }
  .select-dropdown:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa; }

.dropdown-blue-box {
  height: 40px;
  font-size: 1.2em;
  font-family: "Open Sans", serif; }

.select-dropdown > select {
  font-size: 1em;
  font-family: "Open Sans", serif; }

/***********************************
    Smaller Nav Tabs on Right Side
************************************/
.clicked {
  border: 1px solid #ccc;
  background-color: white;
  border-bottom: none; }

/*# sourceMappingURL=main.css.map */
