/*******************
      IMPORTS
*******************/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/********************
      Colors
*********************/
/********************
       Fonts
*********************/
/********************
        Base
*********************/
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  overflow-x: hidden; }

.container {
  max-width: 81.25em;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

/************************
        GENERAL
************************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body a {
  text-decoration: none; }

button,
.fa {
  cursor: pointer; }

input,
textarea {
  font-family: "Open Sans", serif;
  font-size: 1em; }

textarea {
  margin: 0; }

.header-bar {
  background-color: #80c5c5;
  height: 66px; }

.logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%;
  width: 65px;
  margin-left: 0;
  padding: 3px;
  background-color: #50a4a4; }
  .logo:last-child {
    margin-right: 0; }

.dob-date,
.dob-container,
.age-container,
.age-number,
.gender {
  color: white;
  vertical-align: top;
  margin-top: 18px;
  font-size: 1.5em; }

.dob-date,
.age-number {
  font-size: 1em; }

.patient-name {
  color: white;
  font-size: 2.5em;
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  width: 21%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .patient-name:last-child {
    margin-right: 0; }

.dob-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .dob-container:last-child {
    margin-right: 0; }

.age-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .age-container:last-child {
    margin-right: 0; }

.gender {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .gender:last-child {
    margin-right: 0; }

.fa-print {
  border-left: 2px solid #50a4a4;
  border-right: 2px solid #50a4a4; }

.icons {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  display: inline-block;
  text-align: center;
  padding: 3px;
  float: right; }
  .icons:last-child {
    margin-right: 0; }

.icons > .fa {
  color: #50a4a4;
  font-size: 2.5em;
  display: inline-block;
  padding: 10px; }

.fa-angle-double-left {
  padding: 0; }

i.fa.fa-align-justify {
  padding-left: 0; }

i.fa.fa-angle-double-left {
  padding-right: 0; }

i.fa.fa-print {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px; }

i.fa.fa-share-square-o {
  margin-left: 10px; }

.icons:last-child {
  margin-right: -25px; }

/*************************************
            Chronic Box
**************************************/
.chronic-box {
  max-width: 81.25em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  height: 274px;
  border: 1px solid #ccc;
  margin-top: 48px; }
  .chronic-box::after {
    clear: both;
    content: "";
    display: table; }
  .chronic-box:last-child {
    margin-right: 0; }

.title-box {
  border-bottom: solid 1px #ccc;
  height: 42px;
  background-color: #f1f9fb;
  padding: -11px;
  margin-top: -6px; }

.title-box > p {
  font-size: 1.6em;
  margin-left: 12px;
  margin-top: 6px;
  padding-top: 3px;
  display: block;
  background-color: #f1f9fb; }

.timer-name {
  text-align: center; }

#controls {
  text-align: center; }

.fa-plus-circle {
  font-size: 1.2em;
  display: inline-block;
  float: right;
  padding: 5px; }

.title-words {
  padding: 18px;
  font-size: 1.4em;
  text-style: bold;
  font-weight: 500; }

/***********************
     Conditions List
************************/
.tag-wrapper {
  text-align: center;
  border-radius: 5px; }

.tag {
  display: inline-block;
  position: relative;
  margin: 5px 10px 5px 0; }

.tag input {
  opacity: 0;
  position: absolute;
  z-index: 300;
  cursor: pointer;
  left: 0;
  width: 100%;
  height: 100%; }

.tag input:hover + label {
  background: gray; }

.tag label {
  padding: 7px 34px 6px 18px;
  position: relative;
  z-index: 200;
  color: white;
  display: block;
  border-radius: 16px;
  background: #80c5c5;
  -webkit-transition: all 0.08s ease-in;
  transition: all 0.08s ease-in; }

.tag .fa {
  position: absolute;
  z-index: 250;
  right: 11px;
  top: 9px;
  color: white;
  line-height: 0.95; }

@-webkit-keyframes flick {
  60% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes flick {
  60% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/***********************
    Enrollment Items
************************/
.status,
.CCM {
  color: #50a4a4;
  font-weight: 700; }

.enrollment-title,
.status-title,
.months-title,
.follow-up-title {
  width: 50%;
  display: inline-flex;
  font-size: 1.2em; }

.enrollment-title,
.follow-up-title {
  float: right; }

.status-container {
  padding: 10px;
  margin-left: 12px; }

.status-enrollment-container {
  padding: 12px;
  margin-left: 10px; }

/***********************
       Timer Box
************************/
.timer-box {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 55.21853%;
  height: 274px;
  border: 1px solid #ccc;
  margin-top: 48px;
  margin-right: 0;
  float: right;
  margin-right: 0; }
  .timer-box:last-child {
    margin-right: 0; }

#time {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  border: 1px solid #ccc;
  width: 141px;
  height: 53px; }
  #time:last-child {
    margin-right: 0; }

.column-1,
.column-2,
.column-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  text-align: center; }
  .column-1:last-child,
  .column-2:last-child,
  .column-3:last-child {
    margin-right: 0; }

.column-2 {
  width: 255px; }

#hours,
#minutes,
#seconds {
  font-size: 2.5em;
  font-weight: 200; }

div#time {
  text-align: center;
  margin: 19px 19px 19px 36px; }

.timer-colon {
  font-size: 2em;
  display: inline;
  padding: 2px;
  position: relative;
  bottom: 4px; }

#start_pause_resume,
#reset {
  height: 70px;
  width: 70px;
  border: 1px solid #ccc;
  border-radius: 100%;
  color: #50a4a4;
  background-color: white;
  font-size: 1em; }

#total-minutes,
#total-seconds {
  font-size: 3.1em;
  font-weight: 200; }

.total-time-amount {
  text-align: center;
  margin-left: -6px;
  margin-top: 69px; }

.total-timer-colon {
  font-size: 2em;
  display: inline;
  padding: 2px;
  position: relative;
  bottom: 4px; }

@keyframes ripple {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px #80c5c5, 0 0 10px 10px red, 0 0 0 10px #50a4a4; }
  100% {
    box-shadow: 0 0 0 2px #80c5c5, 0 0 10px 10px red, 0 0 0 10px #50a4a4;
    transform: scale(1.2);
    opacity: 0; } }
#start_pause_resume:hover:after {
  animation: ripple 1.3s ease-out 75ms; }

#start_pause_resume:after {
  width: 100px;
  height: 100px;
  top: -95px;
  left: -5px;
  transform: scale(0.9);
  box-shadow: 0 0 0 2px #fff;
  opacity: 0; }

/**********************
      DatePicker
***********************/
input[type="text"],
input[type="password"],
textarea {
  outline: none;
  cursor: pointer; }

input {
  font-size: 1em;
  color: #50a4a4;
  font-weight: 300;
  border-color: #ccc;
  border: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none; }

/************************
      More General
************************/
.log-time-button {
  height: 40px;
  width: 120px;
  background-color: #50a4a4;
  color: white;
  font-size: 1em;
  border: 0;
  border-radius: 5px;
  position: relative;
  right: -9px; }

button:focus {
  outline: 0;
  box-shadow: none; }

/************************
      Nav Boxes
************************/
.nav-boxes {
  height: 55px;
  max-width: 81.25em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 35px; }
  .nav-boxes::after {
    clear: both;
    content: "";
    display: table; }
  .nav-boxes:last-child {
    margin-right: 0; }

.box-1,
.box-2,
.box-3,
.box-4 {
  white-space: nowrap;
  border: solid 1px #ccc;
  background-color: #f1f9fb;
  text-align: center;
  font-size: 0.96em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding: 20px;
  font-family: "Open Sans", serif; }
  .box-1:last-child,
  .box-2:last-child,
  .box-3:last-child,
  .box-4:last-child {
    margin-right: 0; }
  @media screen and (max-width: 1240px) {
    .box-1,
    .box-2,
    .box-3,
    .box-4 {
      font-size: 75%; } }

/************************
    Monthly Progress
************************/
.monthly-progress {
  height: 2730px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 40px;
  margin-right: 0; }
  .monthly-progress:last-child {
    margin-right: 0; }

.monthly-rec {
  height: 2730px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 40px;
  margin-right: 0; }
  .monthly-rec:last-child {
    margin-right: 0; }

.left-column-1,
.right-column-1 {
  height: 2730px;
  display: inline;
  background-color: #f2f2f2;
  border: solid 1px #ccc;
  margin-right: 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 47.96819%;
  margin: 0px 0px 10px; }
  .left-column-1:last-child,
  .right-column-1:last-child {
    margin-right: 0; }

.lower-title-boxes {
  height: 55px; }

p.lower-titles {
  position: relative;
  top: 7px;
  padding-left: 14px; }

.initial-date {
  font-size: 1.5em;
  padding: 0;
  margin: 28px; }

.fa-check,
.fa-pencil {
  float: right;
  margin: 8px 20px 8px 8px;
  position: relative;
  bottom: 3px; }

.fa-pencil {
  color: darkorange; }

.fa-check {
  color: green; }

/************************
       Blue-Boxes
************************/
.blue-box {
  background-color: white;
  margin: 20px;
  height: 143px;
  border: 1px solid #ccc; }

.blue-box-title {
  background-color: #f1f9fb;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  height: 45px;
  padding-left: 15px;
  padding-top: 8px; }

.editable > p {
  margin-left: 15px; }

/************************
     Right Column 1
************************/
.right-column-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 47.96819%;
  margin: 0px 20px 20px;
  margin-right: 0;
  float: right; }
  .right-column-1:last-child {
    margin-right: 0; }

.lower-title-boxes {
  text-align: left; }

.white-container {
  margin: 20px;
  height: 2570px;
  background-color: white;
  margin-top: 72px;
  border: 1px solid #ccc;
  border-top: none; }

.tabs {
  height: 95px;
  display: inline-block;
  margin-top: 30px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-left: 20px; }
  .tabs:last-child {
    margin-right: 0; }

.tab-1,
.tab-2,
.tab-3 {
  display: inline-block;
  height: 43px;
  text-align: center;
  padding: 14px;
  position: relative;
  border-bottom: 0;
  border-radius: 8px 8px 0 0;
  cursor: pointer; }

.save-button {
  background-color: #50a4a4;
  height: 35px;
  width: 80px;
  color: white;
  font-size: 1em;
  border: 0;
  border-radius: 5px;
  margin-left: 22px; }

.white-selector,
.second-timepicker {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  text-align: center;
  margin-left: 20px; }
  .white-selector:last-child,
  .second-timepicker:last-child {
    margin-right: 0; }

.lower-dropdowns {
  width: 255px; }

.updates {
  margin-top: 30px;
  height: 195px; }

.fa-check-circle.one {
  position: relative;
  bottom: 30px;
  font-size: 1.5em;
  right: -56px;
  background-color: white;
  border-radius: 100%;
  color: #50a4a4;
  z-index: 2;
  fill-opacity: 1;
  float: center; }

.fa-check-circle.two {
  position: relative;
  bottom: 30px;
  font-size: 1.5em;
  right: -76px;
  background-color: white;
  border-radius: 100%;
  color: #50a4a4;
  z-index: 2;
  fill-opacity: 1; }

.fa-check-circle.three {
  position: relative;
  bottom: 32px;
  font-size: 1.5em;
  right: -17px;
  background-color: white;
  border-radius: 100%;
  color: #50a4a4;
  z-index: 2;
  fill-opacity: 1; }

.fa-check-circle.four {
  position: relative;
  bottom: 30px;
  font-size: 1.5em;
  right: -31px;
  background-color: white;
  border-radius: 100%;
  color: #50a4a4;
  z-index: 2;
  fill-opacity: 1; }

.box-3 {
  height: 67px; }

.based-paragraph {
  margin: 20px;
  font-size: 0.9em; }

/************************
    Page-3 Left Column
************************/
.page-3-dropdowns {
  margin-top: 24px; }

.select-dropdown {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  position: relative;
  background-color: white;
  width: auto;
  float: left;
  border-radius: 2px; }
  .select-dropdown:last-child {
    margin-right: 0; }
  .select-dropdown select {
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 580px; }
    .select-dropdown select:active, .select-dropdown select:focus {
      outline: none;
      box-shadow: none; }
  .select-dropdown:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #aaa; }

.dropdown-blue-box {
  height: 40px;
  font-size: 1.2em;
  font-family: "Open Sans", serif; }

.select-dropdown > select {
  font-size: 1em;
  font-family: "Open Sans", serif; }

/***********************************
    Smaller Nav Tabs on Right Side
************************************/
.clicked {
  border: 1px solid #ccc;
  background-color: white;
  border-bottom: none; }

.month-selector {
  float: right;
  margin-right: 37px; }

i.fa.fa-arrow-left {
  padding-right: 16px;
  color: #ccc; }

i.fa.fa-arrow-right {
  padding-left: 14px;
  color: #ccc; }

i {
  z-index: 999; }

.editable {
  height: 96px;
  position: relative; }

textarea {
  white-space: nowrap;
  padding-left: 16px;
  padding-top: 10px;
  height: 100%;
  width: 100%;
  outline: none;
  outline: 0;
  border: none;
  border: 0; }

textarea:focus {
  border: #80c5c5 2px solid; }

.updates textarea {
  height: 154%; }

.top-select,
.bottom-select,
.datepicker-paragraph {
  margin-top: 14px; }

.short-words {
  position: relative;
  bottom: -9px; }

.first-timepicker {
  width: 220px;
  position: relative;
  right: -13px; }

.chosen-select {
  width: 300px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.conditions-list {
  text-align: center; }

/******** MODAL **********/
.modal-body {
  text-align: left; }

.modal-select {
  position: relative;
  right: -13px; }

.modal-title {
  font-size: 1.5em;
  font-weight: normal; }

.modal-header,
.modal-buttons-center {
  text-align: center; }

.modal-titles {
  margin-left: 13px; }

#reset {
  color: orangered; }

.span12 {
  width: 100%; }

.initial-items-header {
  margin: 28px; }

.floatright {
  float: right; }

.floatleft {
  float: left; }

.tab-content {
  display: none; }

.tab-content.current {
  display: inherit; }

ul {
  -webkit-padding-start: 0px; }

.Schedule-follow {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 20px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  text-align: center; }
  .Schedule-follow:last-child {
    margin-right: 0; }

.schedule-title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .schedule-title:last-child {
    margin-right: 0; }

.schedule-datepicker {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .schedule-datepicker:last-child {
    margin-right: 0; }

.schedule-button {
  background-color: #50a4a4;
  height: 35px;
  width: 100px;
  color: white;
  font-size: 1em;
  border: 0;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.bootstrap-select,
.btn:focus,
li:focus,
li:active,
.btn:active,
.selected {
  outline: none !important; }

select:active, select:hover {
  outline: none !important; }

.btn:focus,
.btn:active,
.opt,
.text,
a {
  outline: none !important; }

.doctor-time-log,
.date-time-log {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .doctor-time-log:last-child,
  .date-time-log:last-child {
    margin-right: 0; }

.time-log,
.time-log-entry {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 20px; }
  .time-log:last-child,
  .time-log-entry:last-child {
    margin-right: 0; }

.entry-row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-left: 8.5298%;
  padding: 0 0 10px 0; }
  .entry-row:last-child {
    margin-right: 0; }

.entry-row > span {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  font-size: 1.2em; }
  .entry-row > span:last-child {
    margin-right: 0; }
  .entry-row > span:nth-child(4n) {
    margin-right: 0; }
  .entry-row > span:nth-child(4n+1) {
    clear: left; }

.time-log-month {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 8.5298%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .time-log-month:last-child {
    margin-right: 0; }

.time-log-month-total-1,
.time-log-month-total-2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 59.70863%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .time-log-month-total-1:last-child,
  .time-log-month-total-2:last-child {
    margin-right: 0; }

.time-log-header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0 0 20px 0; }
  .time-log-header:last-child {
    margin-right: 0; }

i.fa.fa-times-circle {
  padding-left: 10px;
  color: orangered;
  font-size: 1.2em; }

.time-log-month-total-1 {
  color: green; }

.time-log-month-total-2 {
  color: orangered; }

.tab-content {
  display: none; }

/*# sourceMappingURL=main.css.map */
